html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  color: #2b3b48;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0px 0px 45px 0px;
  font-size: 28px;
  font-weight: 700;
  color: #2b3b48;
  font-family: Roboto;
  line-height: 1.21;
  letter-spacing: normal;
}
h2 {
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.container-fluid {
  padding: 30px 0px;
}

.currency-title {
  font-size: 12px;
  color: #4f6477;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.doviz-cevir {
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  padding: 25px;
  color: #fff;
  font-size: 20px;
}
.currency-name {
  font-size: 12px;
}
.curency {
  font-size: 16px;
  text-align: right;
  display: block;
}
.currency-rates {
  font-size: 16px;
  color: #2b3b48;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.currency-flag {
  max-width: 100%;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.list-item {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgb(186 201 213 / 30%);
  padding-top: 30px;
  margin-top: 30px;
  line-height: 1;
}
.list-item > div:last-child {
  margin-left: auto;
  /* satış */
}
.list > .col-12:first-child > .list-item {
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}
.list > .col-12:first-child + .col-12 .list-item {
  border: none;
  margin-top: 0px;
  padding-top: 0px;
}
.btn {
  border-radius: 0px;
  border-width: 2px;
  letter-spacing: 0.94px;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
  line-height: 1;
  height: 48px;
}
.btn-dark {
  background-color: #2b3b48;
  border-color: #2b3b48;
  /* calismiyor */
}
.btn-outline-secondary {
  border-color: #4f6477;
  color: #2b3b48;
  /* calismiyor */
}
.btn-outline-secondary:hover {
  border-color: #2b3b48;
  color: #fff;
  background-color: #2b3b48;
  /* calismiyor */
}
.form-control,
.form-select {
  height: 48px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
}

.form-select {
  border-left: 1px solid #eaeef2;
  max-width: 130px;
}
